nav{
  width: 100vw;
  height: 70px;
  background-color: rgb(91, 150, 233);
  position: fixed;
  top: 0; 
  z-index: 100;
  display: flex;
  justify-content:space-around; 
}

.div-logo{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logo{
  color: white;
  font-size: 4rem;
  text-decoration: none;
  margin-right: 30px;
}

.auth-div{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 600px;
  height: 100%;
}

.username{
  display: flex;
  height: 100%;
  }

.signout-btn{
  border: none;
  background-color: rgb(91, 150, 233);
  color: #fff;
  font-size: 15px;
}

.signout-btn:hover{
  text-decoration: underline;
}

.location{
  display: flex;
  align-items: end;
  color: #fff;
  height: 100%;
}

.location-p{
  font-size: 20px;
  margin-bottom: 0px;
}

.user-p{
  margin-top: 48px;
  color: white;
  margin-right: 80px;
  font-size: 20px;
}

.fa-envelope{
  font-size: 20px;
  color: red;
}

.fa-heart{
  font-size: 20px;
}

.nav-btn{
  width: 100px;
  background-color: rgb(91, 150, 233);
  border: none;
  color: white;
  font-size: 15px;
}