nav{
  width: 100vw;
  height: 70px;
  background-color: rgb(91, 150, 233);
  position: fixed;
  top: 0; 
  z-index: 100;
}
.logo{
  color: white;
  font-size: 2rem;
  text-decoration: none;
  margin-right: 30px;
}

.sign-out{
margin-top: 30px;
color: #fff;
text-decoration: none;
padding-right: 130px;
}

.nav-flex{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.input-location{
  width: 300px;
  height: 20px;
}

.location{
  color: #fff;
}
