.hidden-text{
  display: none;
}

.formjob-div{
  display: flex;
  flex-direction: column;
}

.listjob-btn{
  border: none;
  background-color: rgb(91, 150, 233);
  color: #fff;
  font-size: 15px;
}

.listjob-btn:hover{
  text-decoration: underline;
}